body{
  font-family: verdana;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
h1{
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
h2{
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
main figure{
  text-align: center;
  font-style: italic;
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
}
ul{
  display:block;
  list-style-type: square;
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
}
li{
  display: list-item;
  margin-left: 25px;
  text-align: left;
}
main p{
  text-align: left;
  margin-left: 25px;
}