body{
  font-family: verdana;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
h1{
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
h2{
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
h3{
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
main figure{
  text-align: center;
  font-style: italic;
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
}
ul{
  display:block;
  list-style-type: square;
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
}
li{
  display: list-item;
  margin-left: 25px;
  text-align: left;
}
main p{
  text-align: left;
  margin-left: 25px;
}
ol{
  display: table;
  margin: 0 auto;
  font-family: Oswald;
  color: black;
  background-color: #223843ff;
  text-align: center;
}
table{
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  text-align: left;
  border: 1px solid black;
  margin: 0 auto;
}
thead{
  display: table-header-group;
  background-color: grey;
  font-weight: bold;
}
tbody{
  display: table-row-group;
  border-color: inherit;
}
tr{
  display: table-row;
  border-color: inherit;
  border: 1px solid black;
}
tbody tr:nth-child(even){
  background-color: white;
}
tbody tr:nth-child(odd){
  background-color: lightblue;
}
td{
  display: table-cell;
  border-color: inherit;
  border: 1px solid black;
}
