body{
  font-family: verdana;
  color: #A5243D;
  background-color: #223843ff;
  text-align: center;
}
h1{
  font-family: Oswald;
  color: #A5243D;
  background-color: #223843ff;
  text-align: center;
}
h2{
  font-family: Oswald;
  color: #A5243D;
  background-color: #223843ff;
  text-align: center;
}
h3{
  font-family: Oswald;
  color: #A5243D;
  background-color: #223843ff;
  text-align: center;
}
main figure{
  text-align: center;
  font-style: italic;
  font-family: Oswald;
  color: lightcoral;
  background-color: #223843ff;
}
ul{
  display:block;
  list-style-type: square;
  font-family: Oswald;
  color: lightcoral;
  background-color: #223843ff;
}
li{
  display: list-item;
  margin-left: 25px;
  text-align: left;
}
main p{
  text-align: left;
  margin-left: 25px;
}
ol{
  display: table;
  margin: 0 auto;
  font-family: Oswald;
  color: lightcoral;
  background-color: #223843ff;
  text-align: center;
}
table{
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  text-align: left;
  border: 1px solid black;
  margin: 0 auto;
}
thead{
  display: table-header-group;
  background-color: darkblue;
  color: lightcoral;
  font-weight: bold;
  font-style: normal;
}
tbody{
  display: table-row-group;
  border-color: inherit;
  color: #A5243D;
  font-style: normal;
}
tr{
  display: table-row;
  border-color: inherit;
  border: 1px solid black;
}
tbody tr:nth-child(even){
  background-color: lightgreen;
}
tbody tr:nth-child(odd){
  background-color: lightblue;
}
td{
  display: table-cell;
  border-color: inherit;
  border: 1px solid black;
}
input[type=submit], input[type=reset]{
  background-color: darkblue;
  color: lightblue;
  text-align: center;
  border-radius: 8px;
}
a:link, a:visited {
  color: #A5243D;
  text-decoration-line: underline;
}
nav{
  background-color: #B49286;
  padding: 0;
}
section p{
  text-align: center;
}