* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 150px;
}

body, 
button {
	font-family: 'Montserrat', serif;
}

header {
	display: block;
	width: 100%;
	margin: auto;
	align-items: center;
	position: sticky;
  	top: 0;
  	z-index: 999;
	background-color: #ffffff;
}

.main-nav {
	display: block;
	height: -webkit-fill-available;
}

.top-nav {
	display: flex;
	height: 60%;
}

.logo-container 
 {
	display: flex;
	flex: auto;
	height: 150px;
}

img[alt*="nav-logo"],
img[alt*="nav-account-icon"] {
	cursor: pointer;
	height: -webkit-fill-available;
	transition: 0.3s;
}

.user-nav {
	padding-top: 1%;
}

.signup,
.account{
	display: inline-flex;
	height: 25px;
	margin: 10px;
	border-radius: 10px;
	border: none;
	outline: none; 
	cursor: pointer;
	font-size: small;
	transition: 0.3s;
}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	transition: 0.3s;

}

a:hover {
	color: #00000080;
	cursor: pointer;
	transition: 0.3s;
}

.account:hover {
	color: #00000080;
	background: #64646415;

}
  
.account:active {
	background: #3c3c3c26;
  }

.site-nav-items {
	justify-content: space-evenly;
	list-style-type: none;
	display: flex;
	padding-bottom: 10px;
}

.main, 
.content {
	display: block;
	width: 90%;
	margin: auto;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-edit {
	width: 90%;
	margin: auto;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main-component,
.content-edit {
	display: flex;
}

.text-container-1 {
	display: block;
	width: 50%;
    margin: auto;
    text-align: center;
	padding-right: 5%;
	color: #8a664e;
}

.text-container-2 {
	display: block;
	width: 50%;
    margin: auto;
    text-align: center;
	padding-left: 5%;
	color: #8a664e;
}

.headlineText, 
.subText,
.ctaLink {
	margin: 25px;
}

.image-container {
	width: 50%;
}

img[alt*="main-img"] {
	width: -webkit-fill-available;
	width: 90%;
}

.ctaLink {
	border: 2px solid #000000cc;
	width: 150px;
	height: 50px;
	font-size: 16px;
	border-radius: 15px;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	border-color:  #8a664e6c;
	transition: 0.3s;
}

.btn-link {
	color: #8a664e;
	text-decoration: none;
	transition: 0.3s;
}
.btn-link:hover {
	transition: 0.3s;
}

.ctaLink:hover {
	-webkit-text-fill-color: #8a664e86;
	border-color: #8a664e86;
	transition: 0.3s;
}

.footer-component {
	display: flex;
	font-size: small;
}

.help, 
.copyright {
	display: inline-flex;
	justify-content: center;
	align-self: center;
	width: 50%;
	size: 10px;
	margin: 10px;
	color: #00000080;
}

.contacts,
.about-us,
.privacy-pol {
	cursor: pointer;
	margin: 10px;
	transition: 0.3s;
}

.content-components {
	margin-top: 25px;
	margin-bottom: 35px;
}

.category-row {
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
}

.trade-component {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 20%; 
}

.trade-img {
	margin-bottom: 5px;
}

img[alt*="val-img"] {
	height: auto;
	width: -webkit-fill-available;
	cursor: pointer;
	transition: 0.3s;
}

.trade-content {
	display: flex;
	margin-top: 25px;
	margin-bottom: 55px;
}

form {
	display: flex;
}

.content-text {
	width: fit-content;
}

.content-img {
	margin-right: 25px;
	width: 40%;
}

img[alt*="new-post-img"] {
	height: auto;
	width: 100%;
	transition: 0.3s;
}

img[alt*="trade-img"]  {
	height: auto;
	width: 100%;
	cursor: pointer;
	transition: 0.3s;
}

label {
	margin-right: 15px;
}

td {
	padding-right: 10px;
	padding-bottom: 10px;
}

.align-top {
	vertical-align: top;
	color: #000000c0;
}

.align-right {
	text-align: right;
	margin-top: 5px;
}

.trade-text {
	margin-bottom: 10px;
	text-align: center;
}

.fixed-width {
	width: 300px;
}

input, textarea {
	font-family:Verdana;
	font-size: small;
}

.formBtnLink {
	width: 150px;
	height: 30px;
	margin: auto;
	cursor: pointer;
	border-radius: 15px;
	border: 1px solid  #8a664e6c;
	background-color: #ffffff00;
	text-align: center;
	font-size: small;
	color: #000000;
	padding: 5px;
}

.formBtnLink:hover {
	transition: 0.3s;
	background-color: #8a664e12;
	border: 1px solid #8a664e4e;
	color: #00000090;
}


input[type=file] {
	margin-bottom: 25px;
}

.tr-buttons {
	text-align: right;
}

.content-form {
	margin-right: auto;
	margin-left: auto;
}

.content-new-img, 
.content-edit-img {
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	align-self: start;
}

input[type=text], 
input[type=number],
textarea {
	width: 100%; 
	margin: 5px 0px 20px 0px;
	border-radius: 5px;
	border-width: 1px;
	resize: horizontal;
}

button {
	width: 150px;
    height: 30px;
	margin: auto;
	cursor: pointer;
	border-radius: 15px;
	border: 1px solid  #8a664e6c;
	background-color:  #8a664e0f;
}

button:hover {
	transition: 0.3s;
	background-color: #8a664e12;
	border: 1px solid #8a664e4e;
	color: #00000090;
}

.cnclBtn {
	background-color: #8a664e00;
}

.content-items {
	display: flex;
}


.form-new {
	margin-top: 25px;
}

.about-h2, 
.contact-h2 {
	margin-bottom: 25px;
}

.contact-img, 
.about-img {
	margin: 25px;
	text-align: center;
}

img[alt*="contact-img"],
img[alt*="about-img"] {
	width: 75%;
}

.mobile-nav {
	visibility: hidden;
}

@media screen and (max-width: 1024px) {
	.mobile-menu {
		visibility: visible;
		overflow: hidden;
		background-color:#e1e1e1f9;
		position: top;
	}
	.main {
		width: auto;
	}
	.main-nav {
		display: inline;
	}

	.logo-container,
	.signup, 
	.account {
		display: none;
	}

	.site-nav {
		margin-top: 5%;
		align-self: center;
	}
	
	.site-nav-items,
	.subText {
		margin: auto;
	}

	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}

	.text-container-1, 
	.text-container-2 {
		padding: 0%;
		width: auto;
	}
		
	img[alt*="main-img"] {
		width: 100%;
	}

	.cta {
		padding: 10px 0px 0px 0px;
	}

	.ctaLink {
		width: auto;
		height: auto;
	}
	
	.main-component {
		display: table-footer-group;
	}

	.image-container {
		width: auto;
		text-align: center;
	}

	.category-row {
		margin-top: 25px;
		margin-bottom: 25px;
		display: block;
		justify-content: center;
		font-size: medium;
	}

	.trade-content {
		display: inherit;
		margin-bottom: 15px;
	}
	
	.trade-component {
		margin: inherit;
		width: auto;
	}

	.content-img {
		width: auto;
		margin: auto;
		margin-bottom: 10px;
	}

	table {
		display: flex;
	}

	button {
		width: 75px;
	}

	.footer-component{
		margin-top: 5px;
		display: inline;
	}

	.help, 
	.copyright {
		width: auto;
		display: flex;
	}

	.content-edit-img,
	.content-new-img {
		display: none;
	}

	.tr-buttons {
		display: flex;
		justify-content: center;
		margin-top: 5%;
	}
}