<footer>
    <div class="footer">
        <p>
            <small>Copyright &copy;Charlotte Six</small> &nbsp;&nbsp;
            <a href="/contact">Contact</a>
            <a href="/about">About</a>
            <img src="/images/twitter.png" alt="twitter" class="media">
            <img src="/images/facebook.png" alt="facebook" class="media">
        </p>
    </div>
</footer>

</body>

</html>