<%- include('./partials/header.ejs')%>
<main>
    <div class="body">
        <h2>Welcome to Blue Wolf Astronomy!</h2>
        <p>
            Blue Wolf Astronomy started in the year 1985 as a gathering of amateur astronomers.<br>
            We looked to the sky with our own telescopes and was mesmerized by what we saw.<br>
            To this day we are interested in welcoming anyone and everyone who wants to see what the universe looks like.<br><br>
            This site was created to facilitate the meetings and gatherings of our astronomy club.<br>
            We have listings of events, in-depth details of those events, and the ability to create new events.<br>
            We also have a contact page if you need to contact us about anything.<br>
            We welcome members to login, or sign-up to stay on top of news about the club.
        </p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>