<%- include('./partials/header.ejs')%>
<main>
    <div class="body">
        <h2>Blue Wolf Contact Page:</h2>
        <p>
            Blue Wolf Astronomy Contact Details: <br><br>
            P.O. Box 1500<br>
            Charlotte, NC 28215<br>
            Phone: 555-555-5555<br><br>
            President: Shane Robillard<br>
            Vice President: Ariel Duke
        </p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>