<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
        <h2>Viewing Parties</h2>
        <ul class="links">
            <li><a href="event">Meteor Showers - April 22nd</a></li>
            <li><a href="event">Meeting at the observatory - January 21st</a></li>
            <li><a href="event">Star Parties for beginners - January 22nd</a></li>
        </ul>
        <h2>Educational Classes</h2>
        <ul class="links">    
            <li><a href="event">The Science of Space Telescopes - February 4th</a></li>
            <li><a href="event">Buying a telescope - January 28th</a></li>
            <li><a href="event">Reading a star atlas - January 29th</a></li>
        </ul>
    </div>
</main>
<%- include('../partials/footer.ejs')%>