<%- include('./partials/header.ejs')%>
<main>
    <div class="body">
       <h2>Meteor Showers</h2>&nbsp;<span class="material-symbols-outlined">edit</span>&nbsp;<span class="material-symbols-outlined">delete</span><br>
       <img class="telescope" src="/itis-4166/shaneRobillardProject2/public/images/telescope.jpg" alt="telescope">
        <h3>Host: </h3><p>Blue Wolf</p><br>
        <h3>Date and Time: </h3><p>April 22nd, 2023, 6pm - 11pm</p><br>
        <h3>Location: </h3><p>Blue Wolf Observatory</p><br>
        <h3>Details: </h3><p>Come and join us in watching the Lyrids Meteor Showers.</p>
    </div>
</main>
<%- include('./partials/footer.ejs')%>