body{
    background-color: #36382E;
    font-family: Arial, Helvetica, sans-serif;
    color: #BFB7B6;
  }
  h1,h2,h3{
      text-align: center;
  }
  main img{
      border: 2px black solid;
      height: 500px;
      width: 500px;
      margin: auto;
      display: block;
  }
  figcaption{
      text-align: center;
  }
  p{
      text-align: center;
  }
  #nav{
      text-align: center;
      border: 1px solid black;
      background-color: #ABFAA9;
  }
  ul{
      text-align: left;
      list-style-type:disc;
      display: table;
      margin: 0 auto;
  }
  #nav button{
    background-color: #ABFAA9;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: #190E4F;
  }
  a:link, a:visited {
    color: #190E4F;
    text-decoration-line: none;
  }
  a:hover{
    color: #190E4F;
    text-decoration-line: underline;
  }
  #Breeds img{
    border: 2px black solid;
    height: 500px;
    width: 1000px;
    margin: auto;
    display: block;
    object-fit: cover;
  }
  .mapouter{
    margin: auto;
    scroll-behavior: initial;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
  }
  .gmap_canvas{
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
  }
  #Knots iframe{
    margin: auto;
    display: block;
  }
  iframe {
    border: none;
  }
  #thumbnail {
    list-style-type:none;
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center; 
  }
  #thumbnail li {
    display: inline-block;
    list-style-type:none;
    text-align: center;
  }
  #thumbnail li img {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin: 5px;
  }
  #current {
    margin: auto;
  }
  #caption {
    color: #BFB7B6;
  }
  .maps {
    width: 50%;
    margin: 0 auto;
    border: none;
    box-shadow: none;
  }
  .maps h3 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #ABFAA9;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid black;
    border-radius: 3px;
    color: #190E4F; 
  }
  .maps h3:hover {
    cursor: pointer;
  }
  .maps div {
    background-color: #36382E;
    color: #BFB7B6;
  }