<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
        <h2>Welcome to Blue Wolf Astronomy!</h2>
        <p>
            We pride ourselves on the greatest astronomy meetings this side of the galaxy! <br>
            We do our best to provide fun and engaging gatherings for astronomers of all forms. <br><br>
            Check out the events page to browse available events.
        </p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>