<footer>
    <div class="footer">
        <p>
            &copy;Blue Wolf &nbsp;&nbsp;&nbsp; 
            <a href="about.ejs">About</a>
            <a href="contact.ejs">Contact</a>
            <img src="../../public/images/twitter.png" alt="twitter" class="social">
            <img src="../../public/images/facebook.png" alt="facebook" class="social">
        </p>
    </div>
</footer>
</body>
</html>