<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/itis-4166/shaneRobillardProject2/public/css/project.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <title>Blue Wolf Astronomy</title>
</head>
<body>
<header>
    <div class="header">
        <div class="logo">
            <a href="index.ejs"><img src="/itis-4166/shaneRobillardProject2/public/images/logo.jpg" alt="logo" id="logo"></a>
        </div>
        <div class="topmenu">
            <a href="login.ejs">Login</a>
            <a href="signup.ejs">Sign-up</a>
            <a href="newEvent.ejs">New Event</a>
        </div>
    </div>
    <div class="pages">
        <a href="events.ejs">Events</a>
    </div>
</header>