<%- include('../partials/header.ejs')%>
    <title>Error</title>

    <p>
        <strong>About Charlotte Six</strong>
        <br><br> Platform where people who have an interest in Rainbow Six Siege esports can connect with others who
        have a similar interest.
        We hope you spend your time here looking to try something new whether that be watching esports or gathering a
        team together.
        <br><br> Check out the Events section and browse future Siege events in the near future!
    </p>

    <%- include('../partials/footer.ejs') %>