<%- include('../partials/header.ejs')%>
    <main>
        <div class="body">
            <p>
            <h2><strong>Contact Us</strong></h2>

            <br><br>

            <h2>Address - 9201 University City Blvd, Charlotte, NC, 28223</h2>

            <br><br>

            <h2>Phone - (704) 687-8622</h2>
            </p>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>