<%- include('../partials/header.ejs')%>
    <title>Error</title>

    <div class="content">
        <h3>
            <%= error.status%> Error
        </h3>
        <p>
            <%= error.message%>
        </p>
    </div>

    <%- include('../partials/footer.ejs') %>