<!-- Jospeh Minton
ITIS-4166-051 -->
<%- include('../partials/header.ejs')%>

    <main>
        <div class="body">
            <h1>Events</h1>
            <hr>
            <p>
                <strong>Welcome to Charlotte Six!</strong>
                <br><br> Attend and create Rainbow Six Siege esport related events happening on
                or near UNC Charlotte campus! Connect with others who are all here
                for one thing. Siege!
                <br><br> Check out the Events section and browse future Siege events in the near future!
            </p>
            <br><br>
            <hr>
        </div>
    </main>


    <%- include('../partials/footer.ejs') %>