<%- include('./partials/header.ejs')%>
    <main id="main" class="main" role="maincontent">
        <div class ="homepage" id="homepage">
            <div class="main-component">
                <div class="text-container-1">
                    <div class="headlineText"><h2 class="h2">Explore various <br> brands and products </h2></div>
                    <div class="subText"><p>Find what you love. <br> Explore high-quality products <br> and science-based brands.</p></div>
                    <a href="/trades"><button type="button" class="ctaLink">Explore</button></a>
                </div>
                <div class="image-container"><img src="../public/images_folder/pearls.jpg" alt="main-img" /></div>
            </div>
            <div class="main-component">
                <div class="image-container"><img src="../public/images_folder/pearls_shells.jpg" alt="main-img" /></div>
                <div class="text-container-2">
                    <div class="headlineText"><h2 class="h2">Share your products</h2></div>
                    <div class="subText"><p>Attract new customers <br> and grow your business. <br> Join the marketplace <br> where you can sell your <br> innovative and unique products</p></div>
                    <a href="/trades/new"><button type="button" class="ctaLink">Sell product</button></a>
                </div>
            </div>			
        </div>
    </main>
<%- include('./partials/footer.ejs')%>