<%- include('./partials/header.ejs')%>
    <main id="main" class="main" role="maincontent">
        <div class ="homepage" id="homepage">
            <div class="main-component">
                <div class="text-container-1">
                    <div class="headlineText"><h2 class="h2">Explore various trades </h2></div>
                    <div class="subText"><p>Review all trades.</p></div>
                    <a class="btn-link" href="/trades"><div class="ctaLink">Explore</div></a>
                </div>
                <div class="image-container"><img src="../public/images_folder/pearls.jpg" alt="main-img" /></div>
            </div>
            <div class="main-component">
                <div class="image-container"><img src="../public/images_folder/pearls_shells.jpg" alt="main-img" /></div>
                <div class="text-container-2">
                    <div class="headlineText"><h2 class="h2">Start trading</h2></div>
                    <div class="subText"><p>Create a trade.</p></div>
                    <a class="btn-link" href="/trades/new"><div class="ctaLink">Create</div></a>
                </div>
            </div>			
        </div>
    </main>
<%- include('./partials/footer.ejs')%>