<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to <br><span>Charlotte Six</span></title>
</head>

<body>
    <header>
        <div class"header">
            <div class="banner">
                <a href="/"><img src="/images/logo-color.png" alt="banner" id="banner"></a>
            </div>
            <div class="topnav">
                <a href="/" class="">Join Community</a>
                <a href="/events">Available Events</a>
                <!-- <a href="/event">Event Details</a> -->
                <a href="/events/newEvent">Create Event</a>
                <a href="/users/login">Login</a>
                <a href="/users/new">Sign up</a>
            </div>
        </div>
        <div class="pages">
            <a href="/events">Events</a>
        </div>
    </header>