#logo {
    width: 100px;
    border: 3px solid black;
    margin: 5px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.topmenu {
    text-align: right;
    vertical-align:top;
    padding: 5px;
}

.pages {
    text-align: left;
    border-top: 5px solid black;
    padding: 5px;
    margin: 5px 0px;
}

a:link, a:visited {
    margin-right: 15px;
    color: white;
    text-decoration-line: none;
  }

a:hover{
    color: white;
    text-decoration-line: underline;
    background-color: navy;
}

body {
    background-color: navy;
    margin: 0 0 0 0;
}

footer {
    border-top: 5px solid black;
    color: white;
    padding-left: 5px;
}

.body {
    width: 9000px;
    background-color:#fff;
    margin: auto;
    text-align: left;
    padding: 50px;
}

li {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

li a{
    color: black;
}